<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VML</title>
</head>
<body>
    
    <ul>
        <li><a href="{{ url_for ('home')}}">Home</a></li> <!-- url_for ('Function name') where we want to navigate-->
        <li><a href="{{url_for ('heart_disease')}}">Heart Disease</a></li>
        <li><a href="{{url_for ('covid_19')}}">Covid 19</a></li>
    </ul>
    <h1>FYP </h1>
</body>
</html>